@font-face{
	font-family:"Web Raleway";
	src:url('../fonts/Raleway-Regular.eot');
	src:url('../fonts/Raleway-Regular.eot#iefix') format("embedded-opentype"),
	url('../fonts/Raleway-Regular.woff') format("woff"),
	url('../fonts/Raleway-Regular.ttf') format("truetype"),
	url('../fonts/Raleway-Regular.svg#web') format("svg");
	font-style:normal;font-weight:normal;
}

@font-face{
	font-family:"Web-Raleway-Bold";
	src:url('../fonts/Raleway-Bold.eot');
	src:url('../fonts/Raleway-Bold.eot#iefix') format("embedded-opentype"),
	url('../fonts/Raleway-Bold.woff') format("woff"),
	url('../fonts/Raleway-Bold.ttf') format("truetype"),
	url('../fonts/Raleway-Bold.svg#web') format("svg");
	font-style:normal;font-weight:normal;
}

/* default configuration */
body{
	margin : 0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif ;
	font-size: 14 px;
	color:#373737;
}
.clear{
	float:none;
	clear:both;
}
.center
{
	width :961px;
	margin :0 auto;
}

/*header configuration */
#header
{
	padding : 40px 0;	
}
#header #logo
{
	float:left;
}
#header .navigation
{
	float:right;
}
#header .navigation ul
{
	list-style-type : none;
	padding :0;
	margin :0;
}
#header .navigation ul li
{
	display:inline-block;
	font-size:18px;
	font-family: "Web-Arial-Bold"; 
}
#header .nagivation ul li a
{
	display : inline-block;
	padding : 25px;
	text-transform: :uppercase;
	color :#373737;
	text-decoration : none;
}
#header .nagivation ul li a
{
	color:#0b63cc;
	-webkit-transition :0.3s;
	-moz-transition :0.3s;
	-ms-transition :0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}

/*banner configuration */
#banner
{
	background: url("../images/icha-amaretaaaa_06.png")no-repeat center;
	-webkit-background-size:cover;
	background-position:cover;
	padding : 115px;
	color :#FFFFFF;
	text-align:center;
}
#banner h1
{
	font-size:44px;
	font-family:"web-Arial-Bold";
	text-transform: uppercase;
	font-weight:normal;
}
#banner h2
{
	font-size:26px;
	font-family:"web-Arial-Bold";
	font-weight:normal;
}
#btn-primary
{
	border:solid 3px #FFFFFF;
	color: #FFF;
	text-transform:uppercase;
	font-size:16px;
	text-decoration :none;
	padding:10px;
	display:inline-block;
}
/*for service our configuration*/
#our-services
{
	padding:25px 0;
	font-family:"Web Arial";

}
#our-service .title-content
{
	text-transform:uppercase;
	font-size:32px;
	text-align:center;
	margin-bottom:30px;
}
#our-service .title-content span
{
	font-family:"Web-Arial-Bold";
}
.content-list .list-services
{
	font-family:"Web-Arial-Bold";
	background: ;
	padding:15px;
	float:left;
	width:45%;
	color:#FFFFFF;
}
.content-list .list-services.last
{
	float:right;
}


.content-lis .lis-services.last h2
{
	text-transform:uppercase;
	font-family:"Web -Arial-Bold";
	font-size:26px;
	margin-bottom:10px;
	margin-top:0;
}
.content-list .list-services .text
{
	line-height:25px;
	margin-bottom:10px;
}
.content-list .list-services .button a
{
	display:inline-block;
	padding:10px 15px;
	border:solid 2px #FFFFFF;
	text-decoration:none;
	color:#FFFFFF;
	text-transform:uppercase;
	font-family:"Web-Arial";
}
	#notification..subscribe
{
	
}
